<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ping Pong</title>
    </head>
    <body>
        <form class="form-control" action="index.html" method="post">
            <label for="pingPongIn"></label>
            <input type="number" name="number" id="pingPongIn"value="">
        </form>
    </body>
</html>
